html{
    background-image: url(3353905.jpg);
    background-size: cover;
    margin:0;
    padding: 0;
    font-family: 'Kaushan Script', cursive;
    background-repeat: no-repeat;

}

.menu{
    line-height: 50px;
    background-color: goldenrod; 
opacity: 0.6;
}

.menu ul li{
    display: inline-block;
    list-style: none;

}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
    
}
.menu ul li :hover{
border-bottom: 2px solid white;
background-color: white;
}

h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    padding: 0px 0px 0px 0px;
    margin-left: 1100px;
    margin-top: -83px;

    color: black;opacity: 0.8;
    
}

h2{
    padding: 100px 20px;
   font-size: 30px;
   color: white;opacity: 0.6;
   background-color: black;
   width: 450px;
   height: 12pc;
   position: absolute;
   border-radius: 10pc;
}
 


h3{
    padding: 233px 60px;
    margin: 0px 0px;

    color: silver;opacity: 0.9;
    
}
span{
    font-size: 40px;
    color: brown;
    margin-bottom: -30px;
    padding: 10px
}
.a{
    text-align: center;
}
.about h1{

    padding: 0px 0px;
    margin: 29px 770px;
}